<!DOCTYPE html>
<html lang="en">
<head>
    <title>Collectx</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
    <div class="navbar" style="font-size: 20px;">
        <ul style="float:left">
            <li><a href="/">Collectx</a></li>
        </ul>
        <form id="form" action="{{url_for('search')}}" method="post" enctype="multipart/form-data"> 
            <input type="text" id="query" name="q" placeholder="Search for other users' collections..." value="" required>
            <input type="submit" name="search" value="Search"/>
        </form>
        <ul style="float:right">
            <li><a><img class="icons" src="{{url_for('static', filename='/images/message_icon.png')}}"></a></li>
            <li><a><img class="icons" src="{{url_for('static', filename='/images/directory_icon.png')}}"></a></li>
            <li><a href="{{url_for('show_profile', username=logname)}}"><img class="icons" src="{{url_for('static', filename='/images/profile_icon.png')}}"></a></li>
        </ul>
    </div>
    <div style="padding-top: 50px; padding-left: 50px; text-align: left;">
        <h1>@{{logname}}</h1>
        <form action="{{url_for('account')}}?target={{url_for('edit')}}" method="post" enctype="multipart/form-data">
            <p>Profile picture <input type="file" name="file" accept="image/*"/></p>
            <p>Name <input type="text" name="name" value="{{name}}" required/></p>
            <p>Bio <input type="text" name="bio" value="{{bio}}" required/></p>
            <p><input type="submit" name="update" value="submit"/></p>
            <p><input type="hidden" name="operation" value="edit_account"/></p>
        </form>
    </div>
</html>